body {
  margin: 0;
  font-family: 'Nova Flat';font-size: 22px;
  display:flex;
  flex-direction: column;
  flex-grow:1;
  background-image: url(/Users/tylermair/Desktop/Bootcamp/Challenges/React-20/ReactPort-20/tyler-port/src/assets/Profile/trees-med.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-position:center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.port-head{
  background: none;
  size: 4.5rem;
  padding:0;
  display:flex
}
.port-head h2 {
  font-family: 'Noto Serif Display';
  color: antiquewhite;
  margin-left: 30px;
}

.nav-item{
  font-family: 'Noto Serif Display';
  padding: 0px;
  margin: right;
  margin-left: 700px;
  display:flex;
  align-items: center;
  font-size: 15px;
  list-style:none;
}

.nav-item-list {
 margin-inline-start: 100px;
}

.nav-item-list a {
  text-decoration: none;
  color:antiquewhite;
  
  
}

.port-foot {
    display:flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5.4rem;
    align-items: center;
    background:none;
}
.port-foot ul{
  
  margin-inline-start: 1450px;
  size: 50px;
  text-decoration: none;
  float:right;
}

.port-foot ul li {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
}

.proj-div {
  display:flex;
  flex-direction:column;
  flex-grow:1;
  padding: 100px;
}

.proj-section{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 2;
}

.port-photo {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  display: inline;
  position:relative;
  float:left;
}

.aboutMe {
  display:flex;
  position:relative;
  float:right;
  padding: 100px;
  flex-direction: column;
}



.resume-title{
  text-align:center;
}

.resume-link {
  align-items: center;
}

.aboutMe {
  color: antiquewhite;
  font-family: 'Noto Serif Display';
  margin-bottom: 100px;
  
}

.meTitle {
  align-items: center;
  text-align: center;
  padding: 0px;
  width: 100%;
  padding-bottom: 400px;
  margin: 0px;
  display:flex;
}

#mePhoto {
  display: flex;
  float: right;
  border-radius: 50%;
  height: 300px;
  width: 500px;
  margin-left: 60px;
}



.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}

.arrow {
  width: 40px;
  height: 40px;
  top: 20%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}

.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 30%;
  margin: -15px 0 0 -23px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}





.education{
  display: flex;
  width: 100%;
  float:right;
}



.personal {
  width: 100%;
  margin-bottom: 100px;
  display:flex;
  float: right;
}

.skills{
  display:flex;
  clear:both;
  flex-direction:column;
  align-items: center;
  margin-bottom:600px;
}
.skillsTitle{
  clear:both;
  
}

.tech-list{
  list-style-position: inside;
  list-style-type: square;
  display:inline-block;
  position:absolute;
  left:500px;
  font-size:30px;
}
.tools-list{
  list-style-position: inside;
  list-style-type: square;
  display:inline-block;
  position:absolute;
  right:300px;
  font-size:30px;
  
}

.fab{
  color:antiquewhite;
  
}

.proj-title-section{
  display:flex;
  color:antiquewhite;
  width:100%;
  margin-bottom:200px;
  
}

.proj-div{
  padding:10px;
  align-items: center;
}
.proj-section{
  width:80%;
}
.proj-ul{
  list-style:none;
  text-align: left;
  float:left;
}

.exp-photo{
  float:right;
  height:250px;
  width:400px;
  border-radius: 25px;
  margin-left:50px;
}

.workExp {
  padding-bottom: 50px;
  text-align: left;
  display:flex
}
.personal-photo{
  height:250px;
  border-radius: 25px;
  margin-right:50px;
}
/* CONTACT SECTION */

.contact {
  padding: 100px;
  margin-top: 100px;
  margin-left: 500px;
  background-color:none;
  font-family: 'Noto Serif Display';
  display:flex;
}

.contact-text{
  color:antiquewhite;
  display: flex;
  
}

.name-div{
  display:inline-block;
  flex-direction: row;

}
.email-div{
  display:inline-block;
  flex-direction: row;
  float: right;
}

.message-div{
  margin-top:25px;
}

.contact-button{
  padding: 0.25em 0.75em;
  min-width: 10ch;
  min-height: 44px;
  border-radius: 8px;
  font-family: 'Noto Serif Display';
  color:black;
  font-size:20px;
  background-color:antiquewhite;
}

.message-box {
  width:400px;
  border-radius: 7px;
}
.name-box{
  border-radius: 7px;
  border:none;
}
.email-box{
  border-radius: 7px;
  border:none;
}
.info-list{
  list-style: none;
}