body {
  margin: 0;
  font-family: 'Noto Sans Display';font-size: 22px;
  display:flex;
  flex-direction: column;
  flex-grow:1;
  
  background-image: url(/Users/tylermair/Desktop/Bootcamp/Challenges/React-20/ReactPort-20/tyler-port/src/assets/Profile/trees-med.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-position:center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* HEADER */
.port-head{
  background: none;
  size: 4.5rem;
  padding:0;
  display:flex;
  justify-content: center;
}

/* What Do */
.port-head h2 {
  font-family: 'Noto Sans Display';
  color: antiquewhite;
  margin-left: 30px;
}

/* Nav Bar Links */
.nav-item{
  font-family: 'Noto Sans Display';
  padding-top: 10px;
  display:flex;
  list-style:none;
  padding: 0px;
  
  align-items: center;
  
}

/* Nav Item Spacing */
.nav-item-list {
margin-right: 30px;
margin-left: 30px;

}

.nav-item-list a {
  text-decoration: none;
  color:rgba(23, 17, 8, 0.677);
  font-size:17px;
}

.nav-item-list a:after{
  content:'';
  position:relative;
  display:block;
  height:0.1em;
  width:0%;
  background-color:rgb(0, 0, 0);
  transition:all ease-in-out 125ms;
}

.nav-item-list a:hover::after{
  width:100%;
}

.nav-item-list a:hover{
  font-size: 20px;
  transition:all ease-in-out 200ms;
}


/* MAIN ABOUT PICTURE SECTION*/
.pictureMain{
display:flex;
width:30%;
}

.bigMe{
  height: 500px;
  width: 500px;
  border-radius: 25%;
  margin-top: 100px;
  margin-right:150px;
  
}

/* FOOTER */
.port-foot {
    display:flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5.4rem;
    align-items: center;
    background:none;
}
.port-foot ul{
  
  margin-inline-start: 1450px;
  size: 50px;
  text-decoration: none;
  float:right;
}

.port-foot ul li {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
}

.proj-div {
  display:flex;
  flex-grow:1;
  padding: 100px;
  font:'Noto Serif Display';
}

.proj-section{
  display:flex;
  flex-direction: column;
  height:150px;
}

.foot {
  text-decoration: none;
  color: antiquewhite;
  display: inline;
}

/* RESUME PAGE */
.resume-title{
  text-align:center;
}

.resume-link {
  align-items: center;
}

/* WHOLE PAGE DIV */
.aboutMe {
  display:flex;
  color: rgba(9, 30, 31, 0.851);
  font-family: 'Noto Sans Display';
  flex-direction: row;
}
/* H1 MY NAME */
.about{
  font-size:60px;
  line-height: 0%;
  margin-top:130px;
  margin-bottom: 0px;
  
}
/* HI IM */
.aboutP{
  font-size:30px;
  display:inline-block;
}
/* DESCRIPTION */
.meTitle {
  display:flex;
  flex-direction: column;
  width:9000px;
  line-height: 1.8rem;
  padding-right: 200px;
  padding-left: 150px;
}


.fab{
  color:antiquewhite;
  
}

/* PROJECT SECTION */
.projects{
  overflow:hidden;
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-top:100px;
}
.projects h2{
  position:absolute;
  top:100px;
  margin-bottom:200px;
}
/* tipsy image */
.tipsy img{
width:300px;
height:300px;
transition:.5s ease;
position: relative;
pointer-events: auto;
border-radius: .5rem;
}

.tipsy{
  padding:30px;
  margin-top:30px;

}
/*tipsy img hover */

.tipsy img:hover{
  opacity: 0.5;

}

.hey{
  position:absolute;
  opacity:.5;
  left:160px;
  top:130px;
  text-decoration: none;
  color: antiquewhite;
  display: inline;
  font-size:30px;
}

.hey2 {
  position:absolute;
  opacity:.5;
  left:110px;
  top:130px;
  text-decoration: none;
  color: antiquewhite;
  display: inline;
  font-size:30px;
}

.hey:hover{
  opacity: 1;
  transition: ease-in-out .3s;
}
.hey2:hover{
  opacity: 1;
  transition: ease-in-out .3s;
}

.tipsy img:hover +.hey{
  opacity:.5;
  transition: 1s ease;
}

.hey:hover ~ .tipsy img {
  opacity:.5;
}

.overLay{
  background-color:rgba(0, 0, 0, 0.855);
  width:300px;
  height:300px;
  position:absolute;
  top:235.5px;
  opacity: 0;
  transition:.4s ease-in-out;
  border-radius: .5rem;
}

.overLay h2{
  position:absolute;
  top:0px;
  left:40px;
  color:antiquewhite;
}


.overLay:hover{
opacity:1;
}


/* CONTACT SECTION */
.contact {
  background-color:rgba(70, 138, 155, 0.167);
  height:500px;
  margin-top: 40px;
  background-color:none;
  font-family: 'Noto Serif Display';
  display:flex;
  justify-content:left;
  margin-left:350px;
  margin-right:350px;
  overflow:hidden;
  border-radius:.2rem;
  font-family:'Noto Sans Display';
}

.contact-me-form{
  margin-left:100px;
}

/* CONTACT INFO TAB */
.contact-info{
  background-color: rgba(70, 138, 155, 0.131);
  width:700px;
  margin-left:200px;
  margin-right:50px;
  font-size:15px;
  align-items:center;
  margin-top:10px;
  margin-bottom:10px;
}

.contact-info-title{
  color:rgba(6, 108, 124, 0.973);
  line-height:0px;
  margin-left:10px;
  margin-top:30px;
  font-weight:bold;
}
.contact-info-real{
  margin-left:10px;
}
/*facebook logo */
.fb-logo{
  height:30px;
  width:30px;
  padding:4px;
}
.ig-logo{
  margin-top:25px;
  width: 30px;
  height: 30px;
  padding:4px;
}

.in-logo{
  width: 35px;
  height: 30px;
  padding:4px;
}

.gh-logo{
  height:30px;
  width:30px;
  padding:4px;
}

.contact-label{
  display:flex;
  flex-direction: column;
  line-height:0px;
}

.contact-label h1{
  font-size: 25px;
}

.contact-description{
  font-size:15px;
  line-height:20px;
}


.name-div{
  display:inline-flex;
  flex-direction:column;
  width:50%;
  float:left;
  font-size:14px;
  margin-top:20px;
}

.name-box{
  border-radius: 3px;
  border:none;
  width: 195px;
  height: 25px;
}

.email-div{
  width:50%;
  display:inline-flex;
  flex-direction:column;
  float:left;
  font-size: 14px;;
  margin-top:20px;
}

.email-box{
  border-radius: 3px;
  border:none;
  width: 196px;
  height: 25px;
}

.message-div{
  float:right;
  font-size:14px;
  margin-top:15px;
}

.contact-button{
  padding: 0.25em 0.75em;
  min-width: 10ch;
  min-height: 44px;
  border-radius: 8px;
  font-family: 'Noto Serif Display';
  color:black;
  font-size:20px;
  background-color:rgba(51, 73, 219, 0.219);
  float:right;
}

.message-box {
  width:400px;
  border-radius: 3px;
  height:150px;
}

.info-list{
  list-style: none;
}

.resumeDiv {
  color:antiquewhite;
  font-family: 'Noto Sans Display';
  display:flex;
}

.resumeDownload{
  text-decoration: none;
  color:rgba(9, 30, 31, 0.851);
  margin-top:50px;
  top:100px;
  left:120px;
  position:absolute
}

.resume-picture-div{
  display: flex;
  flex-direction: row;
  width:100%;
  margin-top: 100px;
  justify-content: center;
  margin-bottom:100px;
}
.resume-picture{
  height:800px;
  width: 700px;
  padding:20px;
  opacity: .8;
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
 .header {width:100%;}
 .meTitle {width:300px; padding:0;}
.aboutMe {margin:0,0,0,0;}
.about {width:200px; margin:0,0,0,0; padding:0,0,0,0;}
.bigMe {width:250px; height:200px; margin:0,0,0,0; padding:0,0,}
.nav {width:100%} 
.nav-item-list {margin:0,0,0,0; padding: 0,0,0,0}
.port-foot {width:100px}



}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .aboutMe {width:100%}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .aboutMe {width:100%}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .aboutMe {width:100%}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}