body {
  margin: 0;
  font-family: 'Nova Flat';font-size: 22px;
  display:flex;
  flex-direction: column;
  flex-grow:1;
  
  background-image: url(/Users/tylermair/Desktop/Bootcamp/Challenges/React-20/ReactPort-20/tyler-port/src/assets/Profile/trees-med.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-position:center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* HEADER */
.port-head{
  background: none;
  size: 4.5rem;
  padding:0;
  display:flex;
  justify-content: right;
}

/* What Do */
.port-head h2 {
  font-family: 'Noto Serif Display';
  color: antiquewhite;
  margin-left: 30px;
}

/* Nav Bar Links */
.nav-item{
  font-family: 'Noto Serif Display';
  padding-top: 10px;
  display:flex;
  list-style:none;
  padding: 0px;
  margin-right:100px;
  
}

/* Nav Item Spacing */
.nav-item-list {
margin-right: 30px;
margin-left: 30px;

}

.nav-item-list a {
  text-decoration: none;
  color:rgba(23, 17, 8, 0.677);
  font-size:15px;
}

.nav-item-list a:after{
  content:'';
  position:relative;
  display:block;
  height:0.1em;
  width:0%;
  background-color:antiquewhite;
  transition:all ease-in-out 150ms;
}

.nav-item-list a:hover::after{
  width:100%;
}

.nav-item-list a:hover{
  font-size: 20px;
}


/* MAIN ABOUT PICTURE SECTION*/
.pictureMain{
display:flex;
width:30%;
}

.bigMe{
  height: 500px;
  width: 400px;
  padding-top: 7rem;
  margin-right:150px;
  margin-top: 5px;
}

/* FOOTER */
.port-foot {
    display:flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5.4rem;
    align-items: center;
    background:none;
}
.port-foot ul{
  
  margin-inline-start: 1450px;
  size: 50px;
  text-decoration: none;
  float:right;
}

.port-foot ul li {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
}

.proj-div {
  display:flex;
  flex-direction:column;
  flex-grow:1;
  padding: 100px;
}

.proj-section{
  display:flex;
  flex-direction: column;
  height:150px;
}

.foot {
  text-decoration: none;
  color: antiquewhite;
  display: inline;
}

/* RESUME PAGE */
.resume-title{
  text-align:center;
}

.resume-link {
  align-items: center;
}

/* WHOLE PAGE DIV */
.aboutMe {
  display:flex;
  color: rgba(9, 30, 31, 0.851);
  font-family: 'Noto Serif Display';
  flex-direction: row;
}
/* H1 MY NAME */
.about{
  font-size:80px;
  line-height: 0%;
  margin-top:130px;
  margin-bottom: 0px;
  
}
/* HI IM */
.aboutP{
  font-size:30px;
  display:inline-block;
}
/* DESCRIPTION */
.meTitle {
  display:flex;
  flex-direction: column;
  width:9000px;
  line-height: 1.8rem;
  padding-right: 200px;
  padding-left: 150px;
}



.fab{
  color:antiquewhite;
  
}

.proj-title-section{
  display:flex;
  color:antiquewhite;
  width:100%;
  margin-bottom:200px;
  
}

.proj-div{
  padding:10px;
  align-items: center;
}
.proj-section{
  width:80%;
}
.proj-ul{
  list-style:none;
  text-align: left;
  float:left;
}

.port-photo {
  border-radius: 25%;
  height: 250px;
  width: 400px;
  margin-right:40px
}

.exp-photo{
  float:right;
  height:250px;
  width:400px;
  border-radius: 25px;
  margin-left:50px;
}

.workExp {
  padding-bottom: 50px;
  text-align: left;
  display:flex
}
.personal-photo{
  height:250px;
  border-radius: 25px;
  margin-right:50px;
}
/* CONTACT SECTION */

.contact {
  background-color:rgba(70, 138, 155, 0.131);
  height:500px;
  margin-top: 40px;
  background-color:none;
  font-family: 'Noto Serif Display';
  display:flex;
  justify-content:left;
  margin-left:300px;
  margin-right:300px;
}

.contact-me-form{
  margin-left:100px;
}

/* CONTACT INFO TAB */
.contact-info{
  background-color: rgba(70, 138, 155, 0.131);
  width:400px;
  margin-left:200px;
  margin-right:100px;
  font-size:15px;
  align-items:center;
  margin-top:10px;
  margin-bottom:10px;
}

.contact-info-title{
  color:rgb(106, 226, 244);
  line-height:0px;
  margin-left:10px;
  margin-top:30px;
}
.contact-info-real{
  margin-left:10px;
}

.ig-logo{
  width: 50px;
  height: 50px;
}

.contact-label{
  display:flex;
  flex-direction: column;
  line-height:0px;
}

.contact-text{
  color:antiquewhite;
  display: flex;
  font-size:14px;
  
}

.name-div{
}
.email-div{
}

.message-div{
  margin-top:25px;
}

.contact-button{
  padding: 0.25em 0.75em;
  min-width: 10ch;
  min-height: 44px;
  border-radius: 8px;
  font-family: 'Noto Serif Display';
  color:black;
  font-size:20px;
  background-color:antiquewhite;
  float:right;
}

.message-box {
  width:400px;
  border-radius: 3px;
  height:150px;
}
.name-box{
  border-radius: 3px;
  border:none;
  width: 300px;
  height: 25px;
}
.email-box{
  border-radius: 3px;
  border:none;
  width: 300px;
  height: 25px;
}
.info-list{
  list-style: none;
}

.resumeDiv {
  color:antiquewhite;
  font-family: 'Noto Serif Display';
  display:flex;
  flex-direction: column;
}

.whyMe{
  width:70%;
  text-align: center;
  margin-left:270px;
}

.resumeDownload{
  text-align: center;
  text-decoration: none;
  color:rgb(241, 213, 176);
  margin-top:50px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}